{% extends 'layout_dashboard.html.twig' %}

{% block title %}{{ parent() }} Change password{% endblock %}

{% block content %}
    <!-- begin:: Subheader -->
    <div class="kt-subheader kt-grid__item" id="kt_subheader">
        <div class="kt-container kt-container--fluid ">
            <div class="kt-subheader__main">
                <h3 class="kt-subheader__title">Dashboard</h3>
                <span class="kt-subheader__separator kt-hidden"></span>
                <div class="kt-subheader__breadcrumbs">
                    <a href="{{ path('dashboard_index') }}" class="kt-subheader__breadcrumbs-home">
                        <i class="flaticon-home-2"></i>
                    </a>
                    <span class="kt-subheader__breadcrumbs-separator"></span>
                    <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">Change Password</span>
                </div>
            </div>
        </div>
    </div>
    <!-- end:: Subheader -->
    <!-- begin:: Content -->
    <div class="kt-container  kt-container--fluid kt-grid__item kt-grid__item--fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="kt-portlet">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                Change password
                            </h3>
                        </div>
                    </div>
                    <form class="kt-form" method="POST">
                        <div class="kt-portlet__body">
                            <div class="row">
                                <div class="col-xl-9">
                                    {% if errors is not empty %}
                                        <div class="alert alert-danger alert-bold" role="alert">
                                            <div class="alert-text">
                                                {% for error in errors %}
                                                    {{ error }}<br/>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="form-group row">
                                        <label for="current_password" class="col-xl-3 col-lg-3 col-form-label">Current password</label>
                                        <div class="col-xl-6 col-lg-6">
                                            <input type="password" name="current_password" id="current_password" class="form-control" placeholder="Current password" required/>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="new_password" class="col-xl-3 col-lg-3 col-form-label">New password</label>
                                        <div class="col-xl-6 col-lg-6">
                                            <input type="password" name="new_password" id="new_password" class="form-control" placeholder="New password" required/>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="repeat_new_password" class="col-xl-3 col-lg-3 col-form-label">Repeat new password</label>
                                        <div class="col-xl-6 col-lg-6">
                                            <input type="password" name="repeat_new_password" id="repeat_new_password" class="form-control" placeholder="Repeat new password" required/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="kt-portlet__foot">
                            <div class="kt-form__actions">
                                <button type="submit" class="btn btn-primary">Submit</button>
                                <a href="{{ path('dashboard_index') }}" class="btn btn-secondary">Cancel</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- end:: Content -->
{% endblock %}


