<!-- begin:: Footer -->
<div class="kt-footer kt-grid__item" id="kt_footer">	
    <div class="kt-container  kt-container--fluid ">
        <div class="kt-footer__wrapper">
            <div class="kt-footer__copyright">
                {{ 'now'|date('Y') }}&nbsp;&copy;&nbsp;Starter 4.4
            </div>
        </div>
    </div>		
</div>
<!-- end:: Footer -->	